<h1 class="container m-5">Iniciar Sesion</h1>
<form class="container m-5" [formGroup]="form" (ngSubmit)="loguearse($event)">
    <div class="mb-3">
      <label for="email" class="form-label">Email </label>
      <input type="email" formControlName="email" class="form-control"  id="email" aria-describedby="emailHelp">
    </div>
    <!-- validaciones para form email -->
    <div *ngIf="Email?.errors && Email?.touched">
        <p *ngIf="Email?.hasError('required')" class="error">El campo es obligatorio</p>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" formControlName="password" class="form-control" id="password">
    </div>
     <!-- validaciones para form password -->
     <div *ngIf="Password?.errors && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="error">El campo es obligatorio</p>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
